/*backgrounds*/
$main_background: #fff;
$f-background: #2f303a;
/*Hover/focus, buttons & other interactives actions*/
$action_background: #2196f3;
$action_color: #2196f3;
/*text*/
$default_font_family: "Roboto", sans-serif;
$secondary_font_family: "Raleway", sans-serif;
$default_font_color: #212121;
$secondary_font_color: #fff;
$third_font_color: #2196f3;
/*Sizing*/
$max_page_size: 100%;
$container_size: 480px;
